* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Navigation section */

.nav-div {
    /* border: 1px solid black; */
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    display: flex;
    justify-content: 10px space-between;
    align-items: center;
}

div > img {
    width: 50px;
    height: 50px;
    /* margin-left: 10px; */
    padding-right: 0;
}

li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

li a {
    color: rgb(19, 17, 17);
    font-size: 15px;
    margin-right: 15px;
}

li a button:hover {
    cursor: pointer;
    color: rgb(255, 4, 4);
    background-color: blue;
}

.list-item {
    position: absolute;
    left: 100px;
}

/* Main Body */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f1f1f1;
    margin: 0 20px;
}

/* Header */

.header-logo {
    margin: 30px 50px;
}

.header-h1 {
    font-size: 30px;
    margin-left: 10px;
    color: red;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
}

.header-h1 h1 {
    font-size: 90px;
    color: rgb(0, 0, 0);
    margin-left: 300px;
    z-index: 2;
    position: relative;
    display: flex;
    align-items: center;
    top: 230px;
}

.header-h1 img {
    position: relative;
    width: 900px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 70px;
    z-index: 1;
    margin-top: -80px;
    margin-bottom: 80px;
    /* filter: blur(4px); */
    /* margin-right: 200px; */
}

.header-h1 img:hover{
    cursor: pointer;
    /* transform: scale(1.1); */
    transition: filter 0.3s ease-in-out;
    filter: blur(5px);
}
.header-logo ul {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin-left: 1px;
}

.header-logo ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

/* About Section */

.about-section {
    display: flex;
    flex-direction: column;
    /* border: 1px solid #f31b1b; */
    padding: 1rem;
    align-items: center;
    margin-bottom: 30px;
  }

  .about-section strong {
    font-size: 20px;
    color: #333;
    margin: 10px 0;
  }

/* News Section */

.news-section {
    /* display: flex;
    flex-direction: column;
    border: 1px solid #f31b1b;
    margin: 10px 20px;
    padding: 1rem 0; */
    width: 100%;
    height: 600px;
    /* border: 1px solid #000; */
    display: flex;
    margin-bottom: 40px;
  }

/* .news-section img:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    margin-top: 10px;
} */

/* .news-section img:nth-of-type(1) {
    width: 60%;
    height: 700px;
    position: relative;
    z-index: 1;
    left: 470px;
} */
.news-section img:nth-of-type(1) {
    flex-grow: 30;
    /* width: 200px; */
    right: 0;
    position: relative;
    z-index: 1;
    left: 500px;
    height: 550px;
}

.news-section img:nth-of-type(2) {
    position: relative;
    z-index: 2;
    flex-grow: 10;
    right: 390px;
    top: 70px;
    width: 200px;
    height: 400px;
}

.news-section img:nth-of-type(3) {
    position: relative;
    z-index: 2;
    flex-grow: 10;
    left: -290px;
    top: 140px;
    height: 250px;
}


/* Speech Section */

.speech-section {
    /* border: 1px solid red; */
    margin-bottom: 20px;
}

.speech-section h1 {
    color: rgb(72, 57, 57);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
}


.speech-section p {
    display: flex;
    flex-direction: column;
    /* border: 1px solid #f31b1b; */
    padding: 1rem;
    align-items: center;
    /* border: 1px solid #000; */
    margin-bottom: 30px;
  }

  .speech-section img {
    position: relative;
    width: 700px;
    height: 400px;
    margin-bottom: 20px;
    mix-blend-mode: darken;
    /* margin-left: 50%; */
    transform: translateY(-50%);
    transform: translateX(30%);
  }

  .speech-section-2 {
    margin: 10px 0 20px 0;
    /* border: 1px solid #000; */
  }

/* News Section-2 */

  .news-section-2 {
    margin: 7% 0 20px 0;
    border: 1px solid #000;
  }

  .news-section-2 img:nth-of-type(1) {
    position: relative;
    width: 800px;
    height: 800px;
    z-index: 1;
  }

    .news-section-2 img:nth-of-type(2) {
        position: absolute;
        width: 300px;
        height: 300px;
        /* border: solid 1px red; */
        z-index: 2;
        left: 200px;
        margin-top: 70px;
    }

    .news-section-2 img:nth-of-type(3) {
        position: absolute;
        width: 500px;
        height: 500px;
        /* border: solid 1px red; */
        z-index: 2;
        right: 200px;
        margin-top: 70px;
    }

    .news-section-2 img:nth-of-type(4) {
        position: absolute;
        width: 300px;
        height: 300px;
        /* border: solid 1px red; */
        z-index: 2;
        left: 200px;
        margin-top: 400px;
    }

/* News Section-3 */

    .news-section-3 {
        margin: 7% 0 20px 0;
        /* border: 1px solid #000; */
    }

    .news-section-3 img {
        position: relative;
        width: 900px;
        height: 600px;
        transform: translateY(-50%);
        transform: translateX(15%);
        margin-bottom: 10px;
        border-radius: 10px;
    }

    .news-section-3 q {
        font-size: 20px;
        font-weight: bold;
        position: relative;
        z-index: 2;
    }


/* News Section-4 */

    .news-section-4 {
        margin: 7% 0 20px 0;
        /* border: 1px solid #000; */
    }

    .news-section-4 img:nth-of-type(1) {
        position: relative;
        width: 800px;
        height: 800px;
        z-index: 1;
        left: 150px;
    }

    .news-section-4 img:nth-of-type(2) {
        position: absolute;
        width: 300px;
        height: 300px;
        /* border: solid 1px red; */
        z-index: 2;
        left: 200px;
        margin-top: 130px;
    }

    .news-section-4 img:nth-of-type(3) {
        position: absolute;
        width: 500px;
        height: 450px;
        /* border: solid 1px red; */
        z-index: 2;
        right: 40px;
        margin-top: 70px;
    }

/* News Section-5 */

    .news-section-5 {
        margin: 7% 0 20px 0;
        /* border: 1px solid #63fa06; */
        padding: 10px;
        /* position: relative; */
    }

    .news-section-5 img:nth-of-type(1) {
        position: relative;
        width: 1000px;
        height: 600px;
        z-index: 1;
        /* border: 1px solid red; */
        transform: translateY(-50%);
        transform: translateX(10%);
    }

    .news-section-5 img:nth-of-type(2) {
        position: absolute;
        width: 500px;
        height: 600px;
        /* border: solid 1px red; */
        z-index: 2;
        left: 140px;
        margin-top: -729px;
    }

    .news-section-5-text {
       /* border: 1px solid red; */
       width: 400px;
       left: 700px;
       position: relative;
       z-index: 2;
       top: -330px;
    }


/* Footer */

.footer {
    margin: 20px 20px 20px 40px;
}

.footer h2 {
    color: red;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
    margin-bottom: 20px;
}

.footer-list {
    display: flex;
    justify-content: space-between;
}

.footer-list li {
    list-style: none;
    display: block;
    margin-bottom: 10px;
}

.footer-list-3 input{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #000;
    padding-left: 10px;
}

.footer-list-3 button {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}