* {
    margin: 0 20px;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.nav-div {
    /* border: 1px solid black; */
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    display: flex;
    justify-content: 10px space-between;
    align-items: center;
}

div > img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    padding-right: 0;
}

li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

li a {
    color: rgb(19, 17, 17);
    font-size: 15px;
    margin-right: 15px;
}

li a button:hover {
    cursor: pointer;
    color: rgb(255, 4, 4);
    background-color: blue;
}

.list-item {
    position: absolute;
    left: 100px;
}

/* Body */
.header-logo {
    margin: 30px 50px;
}

.news-section {
    display: flex;
    flex-direction: column;
    border: 1px solid #f31b1b;
    padding: 1rem;
  }

.news-section img {
    margin: 10px 50px;
}

.news-section img:nth-of-type(1) {
    width: 50%;
    height: 500px;
    position: relative;
    z-index: 1;
    left: 500px;
    margin: 5px 0;
}

.news-section img:nth-of-type(2) {
    width: 50%;
    height: 80%;
    object-fit: cover;
    position: relative;
    z-index: 2;
}

.news-section img:nth-of-type(3) {
    width: 50%;
    height: 60px;
    object-fit: cover;
    position: relative;
    z-index: 2;
}